[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
helpme-assistance = "==0.2.9"
phonenumbers = "==8.12.50"
requests = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.10"
